
/*----------product order--------*/

.product-item-text p {
    color: black;
}

.product-item-text h1 {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.product-item-text h1:hover {
    color: blue;
}

.product {
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.product .container {
    /* maxwidth: 1200px; */
    margin: auto;
}

.product-items {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 12px;
}

.product-item {
    width: 19%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
}

.product-item img {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-item-text {
    justify-content: space-between;
}

.product-item button {
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.product-item button:hover {
    background-color: #F51212;
}

form {
    margin-left: 10px;
}

table {
    color: black;
}

tbody tr img {
    width: 100px;
}

.order {
    width: 79%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    border: 5px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order h2 {
    margin-bottom: 30px;
    color: black;
}

.order table {
    width: 100%;
}

.order table thead tr th:first-child {
    text-align: left;
}

.order table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}

.order table thead tr th:last-child {
    text-align: right;
}

.order table tbody tr tb:last-child {
    text-align: right;
}

.price-total {
    color: black;
    text-align: right;
    margin-bottom: 10px;
}

.price-total p {
    font-weight: bold;
    margin-right: 10px;
}

.mua-hang{
    width: 78%;
    border: 1px solid #444;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #444;
}

.mua-hang label, input{
    width: 100%;
    display: block;
}

.mua-hang label{
    margin-top: 20px;
}

.mua-hang input{
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tieu-de-mua-hang{
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-nut-mua-hang{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid red;
    background-color: #ff5656;
    font-weight: bold;
    color: #fff;
}

.btn-nut-mua-hang:hover{
    background-color: #bf0000;
}