* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h3,h4{
    font-weight: 500;
}

.title__container{
    display: inline;
    margin-left: 50px;
}
.title__container .hang{
    max-width: 170px;
    border: 1px solid #2b1f4d;
    border-radius: 10%;
    margin-left: 10px;
    
}
.title__container .hang:hover{
    transform: translateY(-10px);
}
.title__container .hang h3{
    text-align: center;
    font-weight: bolder;
    font-size: 2.4rem
}
.pro01 {
    clear: both;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-height: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

#star {
    width: 8%;
    margin-left: 5px;
}

.col-3 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    color: #555;
    font-weight: normal;
    padding: 10px 50px;
}

.col-3 p {
    font-size: 14px;
    padding-left: 50px;
}

.rating {
    color: #ff523b;
    margin-left: 45px;
    margin-bottom: 10px;
}

.col-3:hover {
    transform: translateY(-10px);
}
@media only screen and (max-width: 568px){
    .title__container{
    display: inline;
    left: 50px;
}
.title__container .hang{
    min-width: 160px;
    max-width: 170px;
    }
}